.map_view {
    flex: 1;
}
.map {
    background-image: url('../../images/map_view.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    width: calc(100vw - 300px);
    height: 100vh;
    position: relative;
}